.menu__hamburguer {
    display: none;
}

.cabeçalho__conteiner {
    position: relative;
    text-align: center;
}

.menu__hamburguer__menu {
    width: 70px;
    height: 50px;
    background-image: url("../../Imagens/Menu.svg");
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

.lista__menu {
    display: none;
    position: absolute;
    background-color: var(--color-header);
}

.menu__hamburguer:checked~.lista__menu {
    display:block;
}

.lista__menu__item,.lista__menu__titulo {
    padding: 1em 2em;
    list-style-type: none;
    font-size: 18px;

}

.lista__menu__link {
    text-decoration: none;
    color: var(--button-color);

}

.lista__menu__link:hover {
    background-color: var(--button-color);
    color: var(--color-hover);
    padding: .7em;
    
}

.lista__menu__titulo {
    font-weight: 500;
}

.cabecalho__pesquisa {
    background-color: transparent;
    text-align: center;
    border: 3px solid var(--color-icon);
    padding: 0.4em 5em;
    border-radius: 5px ;
    color: var(--button-color);
    background: url("../../Imagens/Lupa.svg") no-repeat;
    background-position: 1.5em;
}

.cabecalho__icone {
    display: flex;
    text-decoration: none;
    gap: 0.5em;
    align-items: center;
    padding: 0 1em;
}

.cabecalho__texto { 
    color: var(--color-icon);
    font-size: 16px;
}